name: Run Postman Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Newman and HTML Reporter
        run: |
          npm install -g newman newman-reporter-htmlextra

      - name: Run Postman Collection
        run: |
          newman run collections/demo-api-typicode.postman_collection.json \
          -e environments/demo-api-typicode.postman_environment.json \
          -r htmlextra \
          --reporter-htmlextra-export test-report.html

      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: postman-report
          path: test-report.html
